services:
  fiduswriter:
    build:
      context: .
      args:
        FIDUSWRITER_VERSION: ${FIDUSWRITER_VERSION:-4.0.17}
    volumes:
    - ./volumes/data:/data
    ports:
    - 8000:8000
    container_name: fiduswriter
    restart: unless-stopped
    user: 999:999    # Ensure we're running as the correct user
    environment:
    - FIDUSWRITER_VERSION=${FIDUSWRITER_VERSION:-4.0.17}
